@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixins.scss";
header.header {
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: $shadowMedium;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  .brand {
    flex: 1;
    > img {
      width: 30px;
      cursor: pointer;
      @include for-phone-only {
        width: 20px;
      }
    }
  }
  > nav {
    flex: 1;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > nav > ul {
    display: flex;
    gap: 0 1rem;
    @include for-phone-only {
      font-size: 14px;
      gap: 0 0.5rem;
    }
    > li {
      position: relative;
      cursor: pointer;
      > a {
        color: $lightGrayColor;
      }
      &::before {
        transition: all 250ms;
        content: "";
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: $mainYellowColor;
        position: absolute;
        bottom: -1rem;
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 100%;
        }
      }
    }
  }

  > .user_info {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    > div {
      width: 200px;
    }
  }

  > .login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    > i {
      border: 1px solid $lighterGrayColor;
      border-radius: $roundedMedium;
      padding: 0.75rem;
      transition: all 250ms;
    }
    &:hover {
      > i {
        color: $mainYellowColor;
      }
    }
  }
}
