@import "../../../../../styles/partials/variables.scss";
.history {
  padding: 2rem;
  > header {
    margin-bottom: 2rem;
  }
  > section {
    > table {
      width: 100%;
      border-collapse: collapse;
      border-radius: $roundedMedium;
      border: 1px solid $lighterGrayColor;
      td,
      th {
        padding: 0.5rem;
        border-top: 1px solid $lighterGrayColor;
        border-bottom: 1px solid $lighterGrayColor;
        text-align: center;
      }
    }
  }
}
