@import "../partials/variables.scss";
@import "../partials/mixins.scss";
.admin {
  svg {
    filter: brightness(0);
  }
  > main {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    &.loading {
      > section {
        opacity: 50%;
        pointer-events: none;
      }
    }
    i.back {
      cursor: pointer;
      font-size: 20px;
    }
    .delete_btn {
      font-size: 14px;
      width: min-content;
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
    }
    > section {
      padding: 2rem;
      border-radius: $roundedMedium;
      background-color: white;
      box-shadow: $shadowMedium;
      display: flex;
      flex-direction: column;
      gap: 1rem 0;
      input {
        background-color: $lighterGrayColor;
        color: $lightGrayColor;
        padding: 1rem;
        border-radius: $roundedMedium;
      }
      > form,
      > .info_dashboard {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        > header {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 0 1rem;
          > i {
            cursor: pointer;
            font-size: 20px;
          }
        }
        > button {
          width: min-content;
        }
        > input {
          width: 100%;
        }
      }
    }
    > section > .info_dashboard {
      > .user_dashboard {
        margin: 1rem 0;
        display: flex;
        gap: 0 1rem;

        > .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $lighterGrayColor;
        }
        > section {
          > header {
            display: flex;
            gap: 0 0.5rem;
            > .name {
              font-weight: bold;
            }
            > .email {
              color: $lightGrayColor;
              font-size: 14px;
            }
          }
          > .details {
            color: $lightGrayColor;
          }
        }
      }
    }
    > section {
      > form > .station_dashboard {
        border: 1px solid $lighterGrayColor;
        border-radius: $roundedMedium;
        padding: 1rem;
        margin: 1rem 0;
        > header {
          margin-bottom: 1rem;
          > p {
            &:first-child {
              font-weight: bold;
            }
            &:nth-child(2) {
              color: $lightGrayColor;
            }
          }
        }
        > section > input {
          margin-bottom: 1rem;
        }
      }
      > form > .add_station_btn {
        width: 100%;
      }
    }
  }
}
