@import "../partials/variables.scss";
@import "../partials/mixins.scss";
@import "../partials/functions.scss";

.home {
  > main > section {
    margin: 48px 0;
    > header > h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    .text {
      color: $lightGrayColor;
      flex: 3;
      > p {
        margin-bottom: 1rem;
      }
    }
    aside {
      border-radius: $roundedMedium;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      row-gap: 2rem;
      padding: 1rem;
      overflow: hidden;
      flex: 1;
      width: 100%;

      > h3 {
        position: relative;
        z-index: 2;
        text-align: center;
        > span {
          color: $mainYellowColor;
        }
      }
      > img {
        position: absolute;
        width: 100%;
        opacity: 20%;
        z-index: 1;
        bottom: -60%;
        right: -40%;
      }
      > button {
        position: relative;
        z-index: 2;
        font-size: $smTextSize;
      }
    }
  }
  > main > section.how_it_works {
    > .steps {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 1rem;
      @include for-phone-only {
        flex-direction: column;
        gap: 1rem 0;
        > i {
          transform: rotate(90deg);
        }
      }
      > i {
        color: $lighterGrayColor;
        font-size: $h2Size;
      }
      > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        > i {
          color: $mainYellowColor;
          font-size: $h1Size;
          text-shadow: shadowColor($mainYellowColor);
        }
        > p {
          font-weight: bold;
        }
      }
    }
  }
  main > section.about {
    display: flex;
    gap: 0 2rem;
    align-items: center;
    @include for-tablet-down {
      flex-direction: column;
      gap: 2rem 0;
      text-align: center;
    }
  }
  > main > section.cost {
    .content {
      display: flex;
      gap: 0 2rem;
      align-items: center;
      @include for-tablet-down {
        flex-direction: column-reverse;
        gap: 2rem 0;
        text-align: center;
      }
    }
  }
}
