@import "../../../styles/partials/variables.scss";
.profile {
  .main_box {
    width: 100%;
    background-color: white;
    box-shadow: $shadowMedium;
    border-radius: $roundedMedium;
    display: flex;
    min-height: 700px;
    > .sidebar {
      padding: 2rem;
      width: 300px;

      border-right: $lighterGrayColor 1px solid;
      > ul {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        > li {
          width: 100%;
          padding: 0.5rem 1rem;
          transition: all 250ms;
          border-radius: $roundedMedium;
          display: flex;
          align-items: center;
          gap: 0 0.5rem;
          cursor: pointer;
          &:hover,
          &.active {
            background-color: $lighterGrayColor;
          }
        }
      }
    }
    > .current_view {
      flex: 1;
    }
  }
}
