@import "../../styles/partials/variables.scss";

.dropdown {
  background-color: $lighterGrayColor;
  border-radius: $roundedSmall;
  padding: 1rem;
  width: 100%;
  color: $lightGrayColor;
  position: relative;
  cursor: pointer;
  &.action {
    > ul {
      position: absolute;
      width: 100%;
      left: 0;
      opacity: 0%;
      padding: 1rem;
      pointer-events: none;
      &.open {
        opacity: 100%;
        pointer-events: all;
      }
    }
  }
  > .shield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > i {
      transition: all 250ms;
      &.open {
        transform: rotate(-180deg);
      }
    }
  }
  > ul {
    max-height: 0;
    transition: all 250ms;
    overflow: hidden;
    background-color: $lighterGrayColor;
    > li {
      padding: 0.5rem;
      transition: all 250ms;
      border-radius: $roundedSmall;
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
      &:hover {
        background-color: $lighterGrayColorHover;
      }
      &:first-child {
        margin-top: 1rem;
      }
    }
    &.open {
      max-height: 500px;
    }
  }
}
